<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlinstrong.stronglib">
    <application>
        <!-- 全局Context提供者 -->
        <provider
            android:name=".provider.ApplicationContextProvider"
            android:authorities="${PKGNAME_NAME}.contextprovider"
            android:exported="false" />
    </application>
</manifest>
