<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.kotlinstrong">

    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--全局悬浮窗，可以将窗口显示在所有其他应用程序的顶层 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--录音权限-->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--将应用加入电池优化白名单-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
            android:name=".stronglib.base.BaseApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="${APP_NAME}"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true">
        <activity
                android:name=".splash.SplashActivity"
                android:configChanges="uiMode"
                android:launchMode="singleTop"
                android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".main.MainActivity"
                android:configChanges="uiMode"
                android:label="首页"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".login.LoginActivity"
                android:configChanges="uiMode"
                android:label="登录"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme" />
        <activity
                android:name=".option.OptionsActivity"
                android:configChanges="uiMode"
                android:label="详情"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme" />
    </application>

</manifest>